<h1>Chat room No.<%= @room.id %></h1>
<!-- 表示の左右わけに使う閲覧ユーザー情報 -->
<div id="show_user" data-show_user="<%= current_user.id %>"></div>
<div class="col-md-12">
  <div class="chat_box">
    <!-- カスタムデータ属性にルームIDを格納し、js側で利用する -->
    <div id="messages", data-room_id="<%= @room.id %>"></div>
    <%= render @messages %>
  </div>
  <center>
    <div class="input">
      <%= text_field nil, nil, 'data-behavior': 'room_speaker', class: 'center-block', style: 'margin-bottom: 20px; width: 100%; max-width: 500px;' %>
      <br />
      <%= button_tag '送信', class: 'chat_submit' %>
    </div>
  </center>
</div>
